<%-include('partials/header')%>
<h1>Edit User</h1>
<form method="POST">
	<label>Email</label>
	<input
		type="email"
		name="email"
		value="<%=user.email%>"
		required
	>
	<br><br>
	<label>Data</label>
	<input
		type="text"
		name="data"
		value="<%=user.data||''%>"
	>
	<br><br>
	<label>Role</label>
	<select name="role">
		<option
			value="user"
			<%=user.role==='user'?'selected':''%>
		>
			User
		</option>
		<option
			value="admin"
			<%=user.role==='admin'?'selected':''%>
		>
			Admin
		</option>
	</select>
	<br><br>
	<button type="submit">
		Save
	</button>
</form>
<%-include('partials/footer')%>