<%-include('partials/header')%>
<h1>Admin Dashboard</h1>
<table border="1">
	<tr>
		<th>Email</th>
		<th>Role</th>
		<th>Actions</th>
	</tr>
	<% users.forEach(user=>{ %>
		<tr>
			<td>
				<%=user.email%>
			</td>
			<td>
				<%=user.role%>
			</td>
			<td>
				<a href="/admin/<%=user._id%>">
					View
				</a>
				|
				<a href="/admin/<%=user._id%>/edit">
					Edit
				</a>
				|
				<form
					action="/admin/<%=user._id%>/delete"
					method="POST"
					style="display:inline"
				>
					<button type="submit">
						Delete
					</button>
				</form>
			</td>
		</tr>
	<% }) %>
</table>
<%-include('partials/footer')%>